{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-md-4">
    {% if pelicula.imagen %}
    <img
      src="{{ pelicula.imagen.url }}"
      class="img-fluid rounded"
      alt="{{ pelicula.titulo }}"
      style="height: 700px; object-fit: cover"
    />
    {% else %}
    <img
      src="https://via.placeholder.com/400x600.png?text=Sin+Portada"
      class="img-fluid rounded"
      alt="Sin portada"
    />
    {% endif %}
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{ pelicula.titulo }}</h1>
        <h4 class="card-subtitle mb-2 text-muted">
          Autor: {{ pelicula.autor }}
        </h4>
        <hr />

        {%if pelicula.duracion%}
        <p class="card-text fs-10">Duración: {{ pelicula.duracion }}</p>
        {%endif%}

        {%if pelicula.fecha_lanzamiento%}
        <p class="card-text fs-10">Fecha de lanzamiento: {{ pelicula.fecha_lanzamiento }}</p>        
        {%endif%} 
        
        {% if pelicula.precuela %}
        <p class="card-text fs-10">Precuela: {{ pelicula.precuela }}</p>
        {% endif %}

        {% if pelicula.secuela %}
        <p class="card-text fs-10">Secuela: {{ pelicula.secuela }}</p>
        {% endif %}

        <hr />

        {% if pelicula.sinopsis %}
        <h5>Sinopsis</h5>
        <p style="white-space: pre-wrap">{{ pelicula.sinopsis }}</p>
        {% endif %}

        <div class="mb-3 fs-5" style="color: #f39c12;">
            
            {% if pelicula.puntuacion >= 1 %}<i class="bi bi-star-fill"></i>{% else %}<i class="bi bi-star"></i>{% endif %}
            
            {% if pelicula.puntuacion >= 2 %}<i class="bi bi-star-fill"></i>{% else %}<i class="bi bi-star"></i>{% endif %}
            
            {% if pelicula.puntuacion >= 3 %}<i class="bi bi-star-fill"></i>{% else %}<i class="bi bi-star"></i>{% endif %}
            
            {% if pelicula.puntuacion >= 4 %}<i class="bi bi-star-fill"></i>{% else %}<i class="bi bi-star"></i>{% endif %}
            
            {% if pelicula.puntuacion >= 5 %}<i class="bi bi-star-fill"></i>{% else %}<i class="bi bi-star"></i>{% endif %}
            
            <span class="text-muted fs-6 ms-2">({{ pelicula.puntuacion }}/5)</span>
          </div>        

        <a href="{% url 'catalogo' %}" class="btn btn-primary mt-3"
          >Volver al Catálogo</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
